<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<!-- css -->
	<link rel="stylesheet" th:href="@{/css/library/bootstrap_4.1.3.css}">
	<link rel="stylesheet" th:href="@{/css/library/tabulator_3.5.3.css}">
	<link rel="stylesheet" th:href="@{/css/library/jquery-ui_1.12.1.css}">
	<link rel="stylesheet" th:href="@{/css/library/introjs_2.9.3.css}">
	<link rel="stylesheet" th:href="@{/css/library/jq.schedule_1.0.0.css}">
	<link rel="stylesheet" th:href="@{/css/library/contextMenu_2.7.0.css}">

	<link rel="stylesheet" th:href="@{/css/base.css}">

	<!-- js -->
	<script th:src="@{/js/library/jquery-3.3.1.js}"></script>
	<script th:src="@{/js/library/jquery-ui_1.12.0.js}"></script>
	<script th:src="@{/js/library/bootstrap_4.1.3.js}"></script>
	<script th:src="@{/js/library/tabulator_3.5.3.js}"></script>
	<script th:src="@{/js/library/jquery.cookie_1.4.1.js}"></script>
	<script th:src="@{/js/library/intro_2.9.3.js}"></script>
	<script th:src="@{/js/library/jq.schedule_1.0.0.js}"></script>
	<script th:src="@{/js/library/contextMenu_2.7.0.js}"></script>

	<script th:src="@{/js/tabulator_base.js}"></script>
	<script th:src="@{/js/jq.schedule_base.js}"></script>
	<script th:src="@{/js/contextMenu_base.js}"></script>
	<script th:src="@{/js/base.js}"></script>

	<title>Title</title>
</head>
<body>

<div class="main">

	<div class="container">

		<!-- ボタン部 -->
		<div class="row">
			<div class="col-sm-3">
				<button id="testBtn" class="btn btn-primary btn-lg btn-block">listを送信してlistをget</button>
			</div>

			<div class="col-sm-2">
				<button id="helloBtn" class="btn btn-primary btn-lg btn-block">helloに移動</button>
			</div>

			<div class="col-sm-2">
				<button id="selectBtn" class="btn btn-primary btn-lg btn-block">DBから検索</button>
			</div>

			<div class="col-sm-2">
				<button id="insBtn" class="btn btn-primary btn-lg btn-block">DBにInsert</button>
			</div>
		</div>


		<div id="testTable"></div>

		<div id="space"></div>

		<div id="schedule"></div>


	</div><!-- container -->
</div><!-- main -->

<div id="editSchedule">

</div>

<div id="cutSchedule" style="display: none;">
	<div>
		<div class="cutBox1">
			<div class="cutTime">
				<label>開始</label>
				<select id="cut1StartHour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="03">13</option>
					<option value="04">14</option>
					<option value="05">15</option>
					<option value="06">16</option>
					<option value="07">17</option>
					<option value="08">18</option>
					<option value="09">19</option>
					<option value="10">20</option>
					<option value="01">21</option>
					<option value="02">22</option>
					<option value="03">23</option>
				</select>
				<select id="cut1StartMinute">
					<option value="00">00</option>
					<option value="30">30</option>
				</select>

				<label>終了</label>
				<select id="cut1EndHour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select>
				<select id="cut1EndMinute">
					<option value="00">00</option>
					<option value="30">30</option>
				</select>
			</div>
			<div id="error1"></div>
		</div>

		<div class="cutBox2">
			<div class="cutTime">
				<label>開始</label>
				<select id="cut2StartHour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="03">13</option>
					<option value="04">14</option>
					<option value="05">15</option>
					<option value="06">16</option>
					<option value="07">17</option>
					<option value="08">18</option>
					<option value="09">19</option>
					<option value="10">20</option>
					<option value="01">21</option>
					<option value="02">22</option>
					<option value="03">23</option>
				</select>
				<select id="cut2StartMinute">
					<option value="00">00</option>
					<option value="30">30</option>
				</select>

				<label>終了</label>
				<select id="cut2EndHour">
					<option value="00">00</option>
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
				</select>
				<select id="cut2EndMinute">
					<option value="00">00</option>
					<option value="30">30</option>
				</select>
			</div>
			<div id="error2"></div>
		</div>

	</div>
</div>

</body>
</html>