<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
	<title>Table</title>
</head>
<body>

<!-- Page Content -->
<div id="page-wrapper" layout:fragment="content">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-12">
				<h1 class="page-header">Table</h1>
			</div>
			<!-- /.col-lg-12 -->

			<div id="testTable"></div>

			<div id="space"></div>

		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

</body>
</html>